li.active > a {
    color: #fff;
}
input.upload {
  bottom: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  left: 172px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 27px;
  width: 120px;
  height: 120px;
}

li.active {
  background: #20c0f3;
}

