<!-- Page Header -->
<!-- <div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title">Welcome {{username}}!</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="'/p/dashboard'">Dashboard</a></li>
        <li class="breadcrumb-item">Services</li>
      </ul>
    </div>
  </div>
</div>
<div>
  <h3>
Services Offered
  </h3>
</div> -->

<div class="row">
  <div class="col-md-7 col-lg-9 col-xl-12">
    <div class="row">
      <ng-container *ngFor="let item of testData">

        <div class="col-md-12 col-lg-4 col-xl-4 product-custom" *ngIf="item.TESTID>0">
          <div class="profile-widget">
            <div class="doc-img">
              <a [routerLink]="['/p/product-desc',item.TESTID]" tabindex="-1" *ngIf="item.TESTID>0">
                <img src="assets/img/GVSCALE.png" class="img-fluid" *ngIf="item.TESTID==3"
                  style="height: 181px;width: 75% !important;margin-left: 28px;" />
                <img src="assets/img/ewi-logo.png" class="img-fluid" *ngIf="item.TESTID!=3"
                  style="height: 200px;width: 100%;" />

              </a>
            </div>
            <div class="pro-content">
              <h3 class="title pb-4">
                <a [routerLink]="['/p/product-desc',item.TESTID]" tabindex="-1">{{item.TESTNAME}}</a>
              </h3>
              <div class="row align-items-center">
                <div class="col-lg-4">
                  <span class="price">INR {{item.PAYMENT}}</span>
                  <!-- <span class="price-strike">$45.00</span> -->
                </div>
                <div class="col-lg-8 text-right">
                  <a (click)="addToCart(item)" class="cart-icon ml-1" [ngbTooltip]="'Add To Cart'" *ngIf="item.STATUS!=1"><i
                      class="fas fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>

  </div>
</div>
