<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-7 col-auto">
          <h3 class="page-title">Groups</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/admin/dashboard'">Dashboard</a></li>
            <li class="breadcrumb-item active">Groups</li>
          </ul>
        </div>
        <div class="col-sm-5 col">
          <a class="btn btn-primary float-right mt-2" data-toggle="modal" (click)="openModal(grouptemplate)">
            Add
          </a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th>Group Name</th>
                    <!-- <th>Created Date</th> -->
                    <th width="100" class="text-right">Status</th>
                    <th width="50" class="text-right">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let group of groupData;index as i">
                    <td>
                      {{group?.NAME}}
                    </td>
                    <!-- <td>
                      {{group?.CREATED_Date | date}}
                    </td> -->
                    <td>
                      <span class="d-none">{{group.ACTIVE}}</span>

                      <div class="float-right status-toggle">
                        <input type="checkbox" id="status_{{i}}" class="check" [checked]="group.ACTIVE"
                          (change)="changeStatus($event.target.checked,group)">
                        <label for="status_{{i}}" class="checktoggle">checkbox</label>
                      </div>
                    </td>
                    <td class="text-right">
                      <div class="actions" data-toggle="modal" (click)="openModal(grouptemplate,group)">
                        <i class="center fe fe-pencil"></i>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #grouptemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{selectedGroup?.ID ? 'Edit':'Add'}} Group</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
      (click)="modalRef.hide(); getGroupList();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form novalidate (ngSubmit)="submitForm(groupForm)" #groupForm="ngForm">
      <div class="row form-row">
        <div class="col-12 col-sm-12">
          <div class="form-group">
            <label>Group Name</label>
            <input type="text" class="form-control" name="GroupName" #name="ngModel"
              [ngClass]="{'is-invalid':isSubmitted && name.errors}" [value]="selectedGroup.NAME"
              [(ngModel)]="selectedGroup.NAME" required>
            <div class="invalid-feedback">
              Please enter a Group name.
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">{{selectedGroup?.ID ? 'Edit':'Save'}} </button>
    </form>
  </div>
</ng-template>

<ng-template #delete>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    Are you sure want to delete this group?
    <div style="margin-top:25px">
      <button type="button" class="btn btn-primary btn-yes" (click)="deleteGroup()">Yes</button>
      <button type="button" class="btn btn-secondary  btn-no" (click)="decline()">No</button>
    </div>
  </div>
</ng-template>
